@use "variables";

.notices-buttons-contact-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid red;
}

.open-more-line {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  gap: 30px;
  cursor: pointer;

  &__left-line,
  &__right-line {
    flex: 2;
    border-bottom: 1px solid variables.$light-grey;
    height: 0;
  }
  &__center-circle {
    flex: 1;
    color: variables.$global-blue;
  }
}

.green-notice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  border: 2px solid variables.$notice-border-green;
  border-radius: 16px;
  background-color: variables.$notice-backgroun-green;

  &__notice-text {
    font-family: variables.$font-family-default;
    font-size: 14px;
    color: variables.$notice-border-green;
  }
}

.close-icon {
  align-self: center;
  cursor: pointer;
}
