@use "variables";

@mixin font-header-result-descrition {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  color: variables.$global-blue;
}

@mixin result-descriptions-second-level {
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: variables.$global-grey;
}

@mixin pointer-map-link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  color: variables.$global-blue;
  text-decoration: none;
}
