@use "variables";
@use "mixin";

.result-block {
  padding: 20px;
  border: 1px solid red;
}

.product-found {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-product-found {
  width: 268px;
  height: 204px;
  border-radius: 20px;
}

.stars-vote svg {
  color: variables.$global-pink;
}

.result-descriptions {
  &__header {
    @include mixin.font-header-result-descrition;
  }
  &__second-level {
    @include mixin.result-descriptions-second-level;
  }
}

.pointer-map-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

  & svg {
    width: 20px;
    height: 20px;
    color: lighten(variables.$global-blue, $amount: 0);
  }

  &__link {
    @include mixin.pointer-map-link;
  }
}
