$global-pink: #ed2e7e;
$global-blue: #5f2eea;
$global-grey: #4e4b66;
$light-grey: #d9dbe9;
$notice-border-green: #00ba88;
$notice-backgroun-green: #00ba8820;
$notice-border-pink: #ed2e7e;
$notice-backgroun-pink: #ed2e7e20;

$font-family-default: Poppins;
