
@use "reset";
@use "result-block";
@use "middle-area";

main {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 0 20px 20px 20px;

$header-color:#5F2EEA;
$button-search-color:#ED2E7E;
$background-second-search-color:#2A00A1;
$border-bottom-color:#E7DFFC;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



*{
  margin:0 auto;
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(48, 48, 48);
}

.footer__title{
  color: $header-color;
  font-weight: bold;
  margin-bottom: 20 px;
}

.address__contact--title{
  padding: 15px;
  color: $header-color;
  font-weight: bold;
}

.header{
  color: $header-color;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $border-bottom-color;
  font-weight: bolder;
}

.header__title{
  cursor: pointer;
}

.search__block{
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid $border-bottom-color;
}

.search__input--textbox{
  padding-left: 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.second-search__input--textbox{
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.second-search__block{
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: $background-second-search-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.second-search__block--title{
  margin-top: 15px;
}

.button__search{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color:white;
  background-color: $button-search-color;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 170px;
  cursor: pointer;
}

.second-search__block--title{
  display: flex;
}

.second-search__text-input{
  display: flex;
  flex-direction: column;
}

label{
  margin-top: 10px;

}
